:root{
    --background-color1: #525CEB;
    --background-color2: #B6BBC4;
    --background-color3: #3772FF;
    --background-color5: #E9F1F7;
    --background-color4: #6622CC;
    --componet1:#6622CC;
    --componet2:#5eb1bf;
    --componet3:#DC0073;
    --componet4:#89043D;
    --componet5:#B2ABF2;
    --componet6:#3772FF;
    --main:#f7f7f7;
    --grediant1:#00CBFE;
    --grediant2:#0171C7;
    --bg:linear-gradient(10deg,var(--grediant2),var(--grediant1));


}

body{
    background:var(--bg); 
    /* background:var(--bg);  */
    height: 99vh;
}
 

   .open {
    width: 15vw;
    height:100vh;
   }
   .close {
     width: 5vw;
     height:100vh;
   }

   .imgon{
    filter: grayscale(0);
   }
   .imgof{
    filter: grayscale(1);
   }

   .bodyin{
    width: 95vw;
    margin-left:-10vw;
    height:100vh;
    transition: 1s;
   }
   .bodyout{
    width: 95vw;
    height:100vh;
   }